.container {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/background_login.jpg");
  display: flex;
  justify-content: end;
}

.logoImg{
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.greenContainer {
  display: flex;
  width: 50%;
  height: 100%;
  gap: 1rem;
  background-color: #B8D1C5;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #000;
}

@media (max-width: 750px) {
  .container {  
    justify-content: center;
    align-items: center;
}
  .logoImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
  .greenContainer {
    display: flex;
    height: 80%;
    border-radius: 15px;
} 
}

@media (max-width: 550px) {
  .greenContainer {  
    width: 70%;  
}
}

@media (max-width: 320px) {
  .logoImg{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

  .greenContainer {  
    gap: 0;  
  }
}

@media (max-height:568px) {
    .logoImg{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

  .container h1 {
    font-size: 24px;
}
}