.form {
  display: flex;
  width: 60% !important ;
  flex-direction: column;
  gap: 0.5rem;  
  align-items: center;
}

.field {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5px;
}

.field input {
  display: flex;
  height: 2rem;
  padding-left: 5px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 8px;
  outline: none;
  transition: box-shadow 0.3s ease, transform 0.2s ease; 
}

.field input:focus {
  box-shadow: 5px 5px 0px black; /* Efeito de brilho suave */
  transform: scale(1.02);
}

.error {
  color: red;
}

.button {
  background-color: #2A9D8F;
  color: #ffff;
  width: 50%;
  height: 2.5rem;
  font-size: 20px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 8px;
  outline: none;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.button:hover {
  box-shadow: 5px 5px 0px black; /* Efeito de brilho suave */
  transform: scale(1.02);
}

.changePass {
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  background: none;
  border: none;
  font-size: 14px;
  text-align: start;
  word-wrap: break-word;
  text-decoration-line: underline;
  margin-bottom: 20px;
}

.changePass:hover {
  transform: scale(1.02);
  color: white;
}

@media (max-width: 670px) {
  .field {
  display: flex;
  width: 150px;
  flex-direction: column;
  gap: 5px;
}
}

@media (max-height:568px) {
  .button {
    height: 2rem;
}

.field input {
  margin-bottom: 0rem;
}

.changePass {
  margin-bottom: 10px;
}
}

