@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Jockey One; 
}

[vw] {
  z-index: 999999 !important;
}

.vw-plugin-wrapper {
  z-index: 999999 !important;
}